@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}
#comment{
    height: 50px;
    width: 50px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    bottom: -42%;
    right: -21%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1;
    transition: all linear 0.2s;
    color: #fff;
}
#comment:hover{
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    color: #000;
}
#pDIV{
    position: absolute;
    bottom: 0;
    left: 28%;
    font-size: 20px;
}
#aEdiv{
    position: absolute;
    top: 38%;
    left: 24%;
}
#navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navL{
    margin: 0 2rem;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    z-index: 100;
    user-select: none;
    cursor: pointer;
}
#navR{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    margin-right: 2rem;
}
#navR a{
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 100;
    /* font-size: 18px; */
    /* mix-blend-mode: difference; */
}
#hamburger{
    height: 15px;
    width: 15px;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.bar{
    height: 2px;
    width: 15px;
    background-color: #000;
    border-radius: 20px;
}
#bar1{
    position: absolute;
    top: 30%;
    left: 0;
}
#bar2{
    position: absolute;
    top: 70%;
    left: 0;
}
.elem{
    height: 50vh;
    width: 25vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    scale: 0;
    position: absolute;
    opacity: 0;
    transition: all linear 0.2s;
    z-index: -1;
}
.elem h1{
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: #fff;
    text-transform: uppercase;
    mix-blend-mode: difference;
    font-family: 'Gilroy-Regular';
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0, 0);
}
#cursor{
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    z-index: 99;
    /* transition: all linear .2s; */
    top: -10%;
    left: 50%;
}
